.header {
	text-align: center;
}

.county {
  display: none;

}

.postMile {
	display: flex:
	justify-content: space-between;
}

body {
  background-color: black;
  color: white;
}

br {
    max-height: 2rem;
    min-height: 2rem;
    font-size: .85rem;
}

th {
    text-align: center;

}

.flex {
	display: flex;
	justify-content: center;

}

.flex-btw {
	display: flex;
	justify-content: space-between;
}

.column {
		display: flex;
		flex-direction: column;
		align-items: space-between;
	  justify-content: space-around;
}


h6 {
    margin: 0;
    padding: 0;

}

.crossroad {
		border-bottom: 1px dashed black;

}

.unit {
    margin-top: 1rem;
		background-color: black;
    display: none;
}

#road, #bridge, #landscape, #tree {
    font-size: 1.5rem;
		min-width: 6.5rem;
		max-width: 8.5rem;
}

#road div, #bridge div, #landscape div, #tree div {
		text-align: center;
		font-weight: bold;
		min-height: 5rem;
		padding: .25rem;
		box-shadow: 3px 3px 3px 3px black;
}

#road div:hover, #bridge div:hover, #landscape div:hover, #tree div:hover {
		transform: scale(1.1);
}

div#outputPMS {
		height: 30rem;
		overflow: scroll;
}

#outputPMS a {
		font-size: 1.7rem;
}
